<% cancel_path ||= visualization.persisted? ? [:account, visualization] : [:account, @team, :visualizations] %>

<%= form_with model: visualization, url: (visualization.persisted? ? [:account, visualization] : [:account, @team, :visualizations]), class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/super_select', method: :car_id, options: {autofocus: true}, html_options: {autofocus: true},
        choices: @visualization.valid_cars.map { |car| [car.label_string, car.id] } %>
      <%= render 'shared/fields/super_select', method: :rim_id, options: {}, html_options: {},
        choices: @visualization.valid_rims.map { |rim| [rim.label_string, rim.id] } %>
      <%= render 'shared/fields/text_field', method: :status %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
